
//Global Tokens
$black-800:#131313;
$black-600:#212121;
$gray-500: #6e6e6e;
$gray-200: #b8b8b8;
$gray-100: #eeeeee;


// Alias Tokens

// Alias Tokens - Light Mode Colors
$background-primary-light: $gray-100;
$text-primary-light: $black-600;
$text-secondary-light: $gray-500;

// Alias Tokens - Dark Mode Colors
$background-primary-dark: $black-800;
$text-primary-dark: $gray-100;
$text-secondary-dark: $gray-200;


//Components Token